@using MCMS.Display.Link
@model MCMS.Display.Menu.MenuLink
<a class="nav-link"
   href="@Model.BuildUrl(Url)"
   target="@Model.Target"
   @if (Model.AsModal)
   {
       @Html.Raw("data-toggle=\"ajax-modal\"")
       @Html.Raw("data-modal-backdrop=\"" + Model.ModalBackdrop + "\"")
       if (Model.ModalSuccessAction == ModalSuccessAction.RunCallback && !string.IsNullOrEmpty(Model.ModalSuccessCallback ?? ViewBag.ModalCallback))
       {
           @Html.Raw("data-modal-callback=\"" + (Model.ModalSuccessCallback ?? ViewBag.ModalCallback) + "\"")
       }
   }>
    @if (!string.IsNullOrEmpty(Model.IconClasses))
    {
        <div class="sb-nav-link-icon">
            @Html.Raw(Model.FontAwesomeIconHtml())
        </div>
    }
    @(Model.Text)
</a>