@using MCMS.Display.Link
@model MCMS.Display.Link.MRichLink
<a href="@Model.BuildUrl(Url)"
   class="@Model.CssClasses"
   target="@Model.Target"
   @if (!string.IsNullOrEmpty(Model.Title))
   {
       @Html.Raw("title=\"" + Model.Title + "\"")
   }
   @if (Model.HasData())
   {
       foreach (var kvp in Model.GetData())
       {
           @Html.Raw("data-" + kvp.Key + "=\"" + kvp.Value + "\"")
       }
   }>
    @Html.Raw(Model.BuildText())
</a>