@using MCMS.Display.Link
@model MCMS.Display.Link.MRichLink
<a href="@Model.BuildUrl(Url)"
   class="@Model.CssClasses"
   target="@Model.Target"
   @if (!string.IsNullOrEmpty(Model.Tag))
   {
       @Html.Raw("data-tag=\"" + Model.Tag + "\"")
   }
   @if (Model.AnchorData != null)
   {
       foreach (var kvp in Model.AnchorData)
       {
           @Html.Raw("data-" + kvp.Key + "=\"" + kvp.Value + "\"")
       }
   }>
    @Html.Raw(Model.BuildText())
</a>