@model MCMS.Display.ModelDisplay.ModelDisplayTableConfig
@using MCMS.Base.Exceptions
@using MCMS.Base.Extensions
@using MCMS.Base.Repositories
@inject ITranslationsRepository TransRepo;

@{
    // var returnUrl = Context.Request.Query.ContainsKey("returnUrl") ? (string) Context.Request.Query["returnUrl"] : Url.Action("Index");
    ViewBag.Title = Model?.IndexPageTitle ?? "Null model or title";
    if (Model == null)
    {
        throw new KnownException("Invalid model provided for this view.", 500);
    }

    ViewBag.ModalCallback = "reloadTable" + Model.TableId;
}

@if (!string.IsNullOrEmpty(ViewBag.Title))
{
    <h3 class="mt-4 mb-4">@ViewBag.Title</h3>
}
@if (Model.CreateNewItemLink != null)
{
    <div class="mb-3 d-flex justify-content-end">
        <partial name="Partials/_MRichLink" model="Model.CreateNewItemLink"/>
    </div>
}
<table id="table-@Model.TableId" class="table table-striped table-bordered">
    <thead>
    <tr>
        @if (Model.HasTableIndexColumn)
        {
            <th></th>
        }
        @foreach (var tableColumn in Model.TableColumnsOrdered)
        {
            <th>@Html.Raw(tableColumn.Name)</th>
        }
    </tr>
    </thead>
    <tfoot>
    <tr class="column-search-row">
        @* Table footer search row *@
        @if (Model.HasTableIndexColumn)
        {
            <td></td>
        }
        @foreach (var tableColumn in Model.TableColumnsOrdered)
        {
            <td>@Html.Raw(tableColumn.Name)</td>
        }
    </tr>
    <tr class="sum-total-row">
        @* Table footer sum total row *@
        @if (Model.HasTableIndexColumn)
        {
            <th></th>
        }
        @foreach (var tableColumn in Model.TableColumnsOrdered)
        {
            <th>@Html.Raw(tableColumn.Name)</th>
        }
    </tr>
    <tr>
        @* Table footer column names *@
        @if (Model.HasTableIndexColumn)
        {
            <th></th>
        }
        @foreach (var tableColumn in Model.TableColumnsOrdered)
        {
            <th>@Html.Raw(tableColumn.Name)</th>
        }
    </tr>
    </tfoot>
</table>

<div id="actions-cell-template-@Model.TableId" class="d-none">
    <div class="d-flex flex-wrap mb-n1">
        @foreach (var action in Model.TableItemActions)
        {
            action.CssClasses += " mr-1 mb-1";
            <partial name="Partials/_MRichLink" model="action"/>
        }
    </div>
</div>

@using (Html.BeginMPageScripts())
{
    <script>
    function reloadTable@(Model.TableId)(sender, params) {
        if(params && params.params) {
            $("#table-@(Model.TableId)").closest(".modal").data("result", params);
            table@(Model.TableId).ajax.reload();
        }
    }
    var table@(Model.TableId) = bindDefaultDataTables(
        $("#table-@Model.TableId"),   
        "@Html.Raw(Model.TableItemsApiUrl)", 
        @Html.Raw(Model.ConfigObject),
        $("#actions-cell-template-@Model.TableId").html(), 
        @Model.HasTableIndexColumn.ToString().ToLower(),
        '@TransRepo.Language');
    </script>
}