@using Microsoft.Extensions.Options
@using MCMS.Base.Builder
@inject IOptions<SiteConfig> SiteConfig
@inject IOptions<LayoutIncludesOptions> LayoutIncludes

@{
    var sideMenuToggled = Context.Request.Cookies.TryGetValue("side-menu-toggled", out var val) && val == "1";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="#343a40" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#343a40">
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <title> @(ViewData.ContainsKey("Title") ? ViewData["Title"] + " |" : "") @(SiteConfig.Value.SiteName ?? "MCMS") </title>
    @foreach (var valueLayoutInclude in LayoutIncludes.Value.GetAllForPage)
    {
        <partial name="@valueLayoutInclude"/>
    }
    <partial name="Partials/_Styles"/>
    @await RenderSectionAsync("Styles", required: false)
    <script>
        const basePath = '@Url.Content("~")';
    </script>
</head>
<body class="sb-nav-fixed @Html.Raw(sideMenuToggled ? "sb-sidenav-toggled" : "")">
<partial name="Partials/_Navbar"/>
<div class="sb-layout-sidenav">
    <partial name="Partials/_Sidenav"/>
    <div class="sb-layout-sidenav-content">
        <main role="main" class="container-fluid @ViewBag.MainContainerClasses">
            @RenderBody()
        </main>
        <partial name="Partials/_Footer"/>
    </div>
    <div class="sb-layout-sidenav-content-overlay modal-backdrop"></div>
</div>
<partial name="_BasicModals"/>
<partial name="Partials/_Scripts"/>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>