@using MCMS.Base.Extensions
@using MCMS.Base.Repositories
@using MCMS.Display.Link
@using MCMS.Base.Display.ModelDisplay

@model MCMS.Display.TableConfig.TableConfig

@inject ITranslationsRepository TransRepo;

@{
    foreach (var link in Model.ItemActions)
    {
        link.WithData("modal-callback-target", "ENTITY_ID");
    }
    foreach (var link in Model.ItemActions.Concat(Model.CreateNewItemLink != null ? new[] { Model.CreateNewItemLink } : Array.Empty<MRichLink>()))
    {
        link.SetData("modal-callback", "table" + Model.Id + ".mcms.callbacks.modalClosed");
    }
    var columns = Model.GetColumnsOrdered();

}

@if (Model.CreateNewItemLink != null)
{
    <div class="mb-3 d-flex justify-content-end">
        <partial name="Partials/_MRichLink" model="Model.CreateNewItemLink"/>
    </div>
}
<table id="table-@Model.Id" class="table table-striped table-bordered dataTable @(!string.IsNullOrEmpty(Model.AdditionalClasses) ? Model.AdditionalClasses : "")">
    <thead>
    <tr>
        @* Table header column names *@
        @foreach (var col in columns)
        {
            <th @Html.Raw(col.BuildHeaderClassSyntax())>
                @Html.Raw(col.Name)
            </th>
        }
    </tr>
    </thead>
    <tbody>
    @* Table body will be replaced when datatables js will load *@
    <tr class="odd">
        <td colspan="@(Model.TableColumns.Count + (Model.HasTableIndexColumn ? 1 : 0) + (Model.CheckboxSelection ? 1 : 0))"
            class="dataTables_empty text-center">
            Loading...
        </td>
    </tr>
    </tbody>
    <tfoot>
    @if (Model.EnableColumnSearch)
    {
        <tr class="column-search-row">
            @* Table footer column search row *@
            @foreach (var col in columns)
            {
                <td>@Html.Raw(col.Name)</td>
            }
        </tr>
    }
    <tr class="sum-total-row">
        @* Table footer sum total row *@
        @foreach (var tableColumn in columns)
        {
            <th></th>
        }
    </tr>
    <tr>
        @* Table footer column names *@
        @foreach (var col in columns)
        {
            <th @Html.Raw(col.BuildHeaderClassSyntax())>
                @Html.Raw(col.Name)
            </th>
        }
    </tr>
    </tfoot>
</table>

<div id="actions-cell-template-@Model.Id" class="d-none">
    <div class="d-flex flex-wrap mb-n1">
        @foreach (var action in Model.ItemActions)
        {
            action.CssClasses += " mr-1 mb-1";
            <partial name="Partials/_MRichLink" model="action"/>
        }
    </div>
</div>

@using (Html.BeginMPageScripts())
{
    <script>
    (function ($) {
        let actionsColumnContent;
        @if (Model.ItemActions.Any())
        {
            <text>
                actionsColumnContent = $('#actions-cell-template-@Model.Id').html();
            </text>
        }
        else
        {
            <text>
                actionsColumnContent = null;
            </text>
        }
        
        const initTable@(Model.Id) = function () {
            const table = window['table@(Model.Id)'] = mcmsDatatables.bindDefaultDataTables(
                "#table-@Model.Id", @Html.Raw(Model.GetConfigObjectSerialized(Url)), actionsColumnContent, '@TransRepo.Language'
            );
                   
            table.mcms.callbacks.modalClosed = function (sender, params) {
                table.mcms.$.trigger("modalClosed.mcms", [sender,  params]);
            };
        };
        
        initTable@(Model.Id)();
    })(jQuery);
    </script>
}