@using MCMS.Base.Extensions
@using Microsoft.Extensions.Options
@using MCMS.Base.Builder
@inject IOptions<LayoutIncludesOptions> LayoutIncludes
@foreach (var valueLayoutInclude in LayoutIncludes.Value.GetAllForModals)
{
    await Html.RenderBlindPartialAsync(valueLayoutInclude, null, ViewData);
}
@Html.RenderMStyles()
@* tabindex="1" *@
<div class="modal stacked-modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog @(ViewBag.ModalDialogClasses ?? "modal-lg") modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ViewBag.Title</h5>
            </div>
            @RenderBody()
        </div>
    </div>
</div>
@Html.RenderMScripts()
@Html.RenderMPageScripts()