@using MCMS.Base.Extensions
@Html.RenderMStyles()

<div class="modal fade" tabindex="1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ViewBag.Title</h5>
            </div>
            @RenderBody()
        </div>
    </div>
</div>

@Html.RenderMScripts()
@Html.RenderMPageScripts()