@using MCMS.Exceptions
@using MCMS.SwaggerFormly.Extensions
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@model ErrorViewModel
@inject IWebHostEnvironment HostEnvironment
@{
    ViewData["Title"] = "Error";
}
<div class="error-page">
    <h2 class="text-danger">Error@(Model.StatusCode != 0 ? " " + Model.StatusCode:"")</h2>
    <h3 class="text-danger">An error occurred while processing your request.</h3>

    @if (Model.StatusCode != 0)
    {
        <div class="my-5">
            <div>Code @Model.StatusCode - <b>@Model.StatusCodeMessage()</b></div>
        </div>
    }

    @if (Model?.ShowRequestId == true)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
    @if (Model?.Exception is KnownException kEx)
    {
        <p>
            <strong>Status code:</strong>
            <code>
                <b>@kEx.Code</b>
            </code>
        </p>
    }
    @{
        var exc = Model?.Exception;
    }

    @while (exc != null)
    {
        <div class="exception">
            <svg height="8" width="8">
                <circle cx="4" cy="4" r="4" fill="black"/>
            </svg>
            <div class="exception-text">
                @if (exc is KnownException kExc)
                {
                    @Html.Raw(kExc.HtmlMessage ?? kExc.Message)
                }
                else
                {
                    @exc.Message
                }
            </div>
        </div>
        @if (HostEnvironment.IsDevelopment())
        {
            @exc.ToString()
        }
        <hr/>
        exc = exc.InnerException;
    }
    @if (!HostEnvironment.IsDevelopment())
    {
        <div>
            <i>Check admin logs for full stack trace and more details.</i>
        </div>
    }
    else
    {
    }
</div>

@using (Html.BeginMStyles())
{
    <style>
        .error-page {
            margin-top: 30px;
        }
        .error-page .exception {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .error-page .exception svg {
            margin-right: 15px;
            margin-left: 10px;
            min-width: 8px;
        }
        .error-page .exception-text {
            font-size: 1.2em;
            font-weight: 500;
            color: #666;
        }
        .error-page .exception-text i {
            color: #333;
            font-weight: bold;
        }
    </style>
}